/* Estilos para el título */
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
    text-shadow: 3px 3px #c64e00;

}
.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5); /* RGBA con transparencia */;
    position: relative;
  }
  
  
body {
  font-family: Arial, sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0;
  background-color: #cecac0;
}

.container {
  max-width: 10px;
  margin: 1 auto;
  padding: 10px 10px;
  background-color: #0e0202;
  box-shadow: 100 0 10px rgba(66, 45, 21, 0.1);
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

li:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 0;
}

p {
  margin: 0;
  padding: 0;
}
h3
.title{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      background-color: #cecac0;
      position: relative;
    }
    
    .titulo  h3 {
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 4px;
      color: white;
      text-shadow: 2px 2px #ff0000;
    }

  