:root {
	--rojo: #E50914;
	--fondo: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	margin: auto;
}

header {
	padding: 2px 0;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 90px;
}



}

header .subtitulo {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: small;
	color: #0c0808;
	font-size: 20px;
}



/* ---- ----- ----- Bienvenida ----- ----- ----- */
.bienvenida .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.bienvenida .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.bienvenida .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}


h2 {
	text-align: center;
	margin-top: 5px;
	font-size: 1rem;
  }
  
  .slider-frame {
	width: 1080px;
	height: auto;
	margin: 20px auto 0;
	overflow: hidden;
	animation: slide 16s infinite linear ease-in-out;
  }
  
  .slider-frame ul {
	display: flex;
	padding: 0;
	width: 200%;
  }
  
  .slider-frame li h2 {
	list-style: none;
	width: 100%;
  }
  .slider-frame li {
	align-content: space-between;
  }
  
  .slider-frame img {
	width: 100%;
	height: auto;
	object-fit: cover;
  }
  
  @keyframes slide {
	0% {
		margin-left: 0;
	}
	12.5% {
		margin-left: 0;
	}
	25% {
		margin-left: -100%;
	}
	37.5% {
		margin-left: -100%;
	}
	50% {
		margin-left: -200%;
	}
	62.5% {
		margin-left: -200%;
	}
	75% {
		margin-left: -300%;
	}
	87.5% {
		margin-left: -300%;
	}
	100% {
		margin-left: -400%;
	}
}
.text {
	font-size: 20px;
	position: center;
	color: #fff;
	text-shadow: 0 0 10px rgb(10, 6, 0), 0 0 20px rgb(82, 0, 0), 0 0 30px rgb(82, 0, 0), 0 0 40px rgb(82, 82, 79), 0 0 50px #ff0;
}
	 