
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.contenedor {
	width: 80%;
	margin: auto;
}

header {
	padding: 2px 0;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 90px;
}

header .subtitulo {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: small;
	color: #534646;
	font-size: 20px;
}

body {
	background-image: url('ruta-de-tu-imagen.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
  }
  


/* ---- ----- ----- Bienvenida ----- ----- ----- */
.bienvenida .contenedor {
	margin: 10 auto;
	margin-bottom: 6.25em;
}



.bienvenida .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}


h3 {
	padding-top: 10px;
	text-align: center;
	margin-top: 15px;
	font-size: 1rem;
  }
  
.text {
	font-size: 20px;
	position: center;
	color: #fff;
	text-shadow: 0 0 10px rgb(10, 6, 0), 0 0 20px rgb(82, 0, 0), 0 0 30px rgb(82, 0, 0), 0 0 40px rgb(82, 82, 79), 0 0 50px #ff0;
}
	 