:root {
	--rojo: #E50914;
	--fondo: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	margin: auto;
}

header {
	padding: 2px 0;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 80px;
}
header .subtitulo {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: small;
	color: #AAA;
	font-size: 25px;
}

header nav a {
	color: #AAA;
	text-decoration: none;
	margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
	color: #FFF;
}


/* ---- ----- ----- Bienvenida ----- ----- ----- */
.bienvenida {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(backdrop.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.bienvenida .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.bienvenida .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.bienvenida .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.bienvenida .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.bienvenida .boton:hover {
	background: #fff;
	color: #000;
}

.bienvenida .boton i {
	margin-right: 1.25em;
}

h2 {
	text-align: center;
	margin-top: 50px;
	font-size: 2rem;
  }
  
  .slider-frame {
	width: 1280px;
	height: auto;
	margin: 50px auto 0;
	overflow: hidden;
	animation: slide 16s infinite linear ease-in-out;
  }
  
  .slider-frame ul {
	display: flex;
	padding: 0;
	width: 100%;
  }
  
  .slider-frame li {
	list-style: none;
	width: 100%;
  }
  
  .slider-frame img {
	width: 100%;
	height: auto;
	object-fit: cover;
  }
  
  @keyframes slide {
	0% {
		margin-left: 0;
	}
	12.5% {
		margin-left: 0;
	}
	25% {
		margin-left: -100%;
	}
	37.5% {
		margin-left: -100%;
	}
	50% {
		margin-left: -200%;
	}
	62.5% {
		margin-left: -200%;
	}
	75% {
		margin-left: -300%;
	}
	87.5% {
		margin-left: -300%;
	}
	100% {
		margin-left: -400%;
	}
}

	 