/* Estilos para el título */
h1{
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    text-shadow: 2px 2px #c64e00;

}
.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #0e0000;
    position: relative;
  }
  
  .titulo  h1 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    text-shadow: 2px 2px #ff0000;
  }
  
  /* Estilos para los efectos del circulo fiestero */
  .titulo:before,
  .titulo:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff0056;
    border-radius: 50%;
    animation: party 1s infinite ease-in-out;
  }
  
  .titulo:before {
    top: 20px;
    left: 20px;
  }
  
  .titulo:after {
    top: 60px;
    right: 20px;
  }
  
  @keyframes party {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
      opacity: 0;
    }
    100% {
      transform: scale(1);
    }
  }
  
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #cecac0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 20px;
  background-color: #f0dddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

li:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 0;
}

p {
  margin: 0;
  padding: 0;
}
h3
.title{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      background-color: #cecac0;
      position: relative;
    }
    
    .titulo  h3 {
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 4px;
      color: white;
      text-shadow: 2px 2px #ff0000;
    }

  