.swiper {
    position: initial;
    padding-bottom: 20px;
    width: 800px;
    height: 350px;
}

   .swiper-slide {
       background-position: center;
       background-size: cover;
       width: 300px;
}

         .swiper-slide-img {
           display: auto;
           width: 100%;
}

         .swiper-wrapper {
             display: flex;
             align-items: center;
  }
  
  
  
  .swiper-wrapper img {
    width: 80%;
    height: auto;
  }



.icons {
    padding: 0 350px 50px 350px;
    display: flex;
    justify-content: space-between;
}

.icons i {
    font-size: 25px;
    color: black;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
