.swiper {
    position: initial;
    padding-bottom: 20px;
    width: 800px;
    height: 350px;
}

   .swiper-slide {
       background-position: center;
       background-size: cover;
       width: 300px;
}

         .swiper-slide-img {
           display: auto;

           width: 100%;
}

         .swiper-wrapper {
             display: flex;
             align-items: center;
  }
  
  
  
  .swiper-wrapper img {
    width: 80%;
    height: auto;
  }


  
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #ccc;
  cursor: pointer;
}

.swiper-button-prev::before,
.swiper-button-next::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
}

.swiper-button-prev::before {
  transform: translate(-50%, -50%) rotate(-135deg);
}

.swiper-button-next::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.icons {
    padding: 0 350px 50px 350px;
    display: flex;
    justify-content: space-between;
}

.icons i {
    font-size: 25px;
    color: black;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
